@model EasyBreath.web.Models.RegisterForm

@{

     Layout = "~/Views/Shared/_Layout.cshtml";
}
     <section style="margin-top: 60px">

          @using (Html.BeginForm())
          {
               @Html.AntiForgeryToken()

               <div class="form-horizontal container " style="margin-left: 650px">
                    <h4 class="text-register" style="margin-left: 28px;">CREATE AN ACCOUNT</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                         @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2 text-register"})
                         <div class="col-md-3">
                              @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                              @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                         </div>
                    </div>

                    <div class="form-group">
                         @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 text-register" })
                         <div class="col-md-3">
                              @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                              @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                         </div>
                    </div>

                    <div class="form-group">
                         @Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "control-label col-md-2 text-register" })
                         <div class="col-md-3">
                              @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                              @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                         </div>
                    </div>

                    <div class="form-group">
                         @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 text-register" })
                         <div class="col-md-3">
                              @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                              @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                         </div>
                    </div>

                    <div class="form-group">
                         <div class="col-md-offset-2 col-md-10">
                              <input type="submit" value="                             Register                             " class="btn btn-dark" style="margin-top: 20px"/>
                         </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                              <p >Have already an account? <a href="@Url.Action("LoginPage", "Auth")" class="fw-bold text-register"><u>Login here</u></a></p>
                    </div>
                    
                  
               </div>
          }

     </section>

